@{
    ViewData["Title"] = "Home page";
}

<div id="loginContent">
    <link rel="stylesheet" href="../css/StyleSheet.css" />
    <div id="loginBox">
        <div class="log_tt">
            <h2>用户登录</h2>
        </div>

        <div class="loginInfo">
            <!-- 用户名 -->
            <dl>
                <dt>用户：</dt>
                <dd>
                    <input id="userName" type="text" name="user.loginName" />
                </dd>
            </dl>

            <!-- 密码 -->
            <dl>
                <dt>密码：</dt>
                <dd>
                    <input id="password" type="password" name="user.password" />
                </dd>
            </dl>

            <!-- 验证模块 -->
            <dl class="yanzheng">
                <dt>验证：</dt>
                <dd class="d1">
                    <input id="authCode" type="text" name="user.authCode" />
                </dd>
                <dd class="d2">
                    <img id="authCodeImg" style="vertical-align: middle;" onclick="" src="img/auth.jpeg" alt="验证码" width="55" height="35" border="0">
                </dd>
            </dl>
        </div>

        <!-- 提示消息-->
        <div class="tishixiaoxi">
            <span id="msg"></span>
        </div>

        <!-- 描述：登陆按钮  -->
        <a class="login_btn login_btn_01">登录</a>

        <!-- 注册按钮 -->
        <a class="login_btn login_btn_02">注册</a>
    </div>
    <p class="ba">纳龙科技</p>
</div>