/* CSS Document */
body {
    background-color: white;
    overflow: auto;
    overflow-x: hidden;
}
td {
	background-color:#f5f5f5;
	text-align: center;
	vertical-align:middle;
	font-size:15px;
}
table tr {
	height:28px;
}
table td:hover {
	background-color: #dafdf3;
}
.top-div {			/*顶部布局样式*/
	background-color:#3293DF;
	height:40px;
	font-size:18px;
	color:white;
	text-align: center;
	line-height:40px;
}
.date {				/*中间日期布局样式*/
	height:40px;
}
.left-list{ 		/*左侧列表样式*/
	font-size:15px;
	list-style:none;
}
.left-td {			/*表格左栏样式*/
	width:80px;
	background-color:white;
    font-weight:600;
    font-size:15px;
    border-bottom-color:white;
}
.date-button{		/*按钮样式*/
	height:40px;
	font-size:18px;
	color:#3293DF;
}
.date-list{			/*日期列表样式*/
	height:50px;
	text-align: center;
	font-size:18px;
	width: 180px;
    color:#666666;
}
.foot-div{			/*底部样式*/
	font-size:16px;
}
.row_list{
    margin-top:30px;
    font-weight:600;
    
}
.list_icon {
    width: 20px;
    height: 20px;
    margin-left: -30px;
}
.list-date {
    color: #666666;
}

.list-week{
    font-size:22px;
    
}
.demo_exmple_end {
    width: 60px;
    height: 20px;
    background-color: #ffbcad;
    border-left: 10px solid #f96232;
    margin-left: 100px;
    
}
.demo_exmple_begin {
    width: 60px;
    height: 20px;
    background-color: #eaf2f8;
    border-left: 10px solid #d1e7f9;
    margin-left: 100px;
}
.question_mark {
    width: 18px;
    height: 18px;
    margin-top:-5px;
    margin-left:-10px;
}
.btn-popover {
    background-color: #f5f5f5;
    width:18px;
    height:20px;
    vertical-align:top;
    text-align:left;
    float:right;
    border:0;
}
.add_title {
    height: 40px;
    background-color: #3293DF;
    border-radius: 10px 10px 0px 0px;
}
.add_index{
    border-radius:10px;
    width:1000px;
    height:720px;
    background-color:white;
    vertical-align:central;
}
.modal-top{
    color:white;
    font-size:18px;
    font-weight:600;
    margin-left:30px;
    margin-top:-10px;
}
.model-tool{
    background-color:#f3f9fd;
    height:40px;
    font-size:20px;
}
.model-tool-btn {
    background-color: #f3f9fd;
    color:#3293DF;
    height:40px;
}
.svg{
    width:20px;
    height:20px;
}
.form-svg{
    width:40px;
    height:40px;
    float:left;
}
.overCurtain {
    border-top: 1px solid rgb(230, 245, 255);
    position: absolute;
    height: 674px;
    width: 100%;
    left: 0px;
    top: 0px;
    opacity: 0;
    display: none;
    background-color: rgb(230, 245, 255);
}
.left-td-two {
    width: 80px;
    background-color: white;
    font-weight: 600;
    font-size: 15px;
    color:white;
    
}

/*---------------------日期样式----------------------*/

*, ::after, ::before { /*时间列表样式*/
    
    -webkit-tap-highlight-color: transparent;
    /*outline:medium;*/
    padding: 0;
    margin: 0;
    outline: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
}

.jcalendar_week .calendar_week > li, .jcalendar_week .calendar_tr > li {
    padding: 0;
}

.jcalendar_week .calendar_header {
    border-bottom: solid 1px #ddd;
    padding-bottom: 0.25rem;
}

.jcalendar_week .calendar_day_bar {
    padding: 0.75rem 0 0.25rem;
}

.jcalendar_week .calendar_week {
    padding-bottom: 1rem;
    font-size: 0.625rem;
}

.calendar_day_act .calendar_day_i {
    background-color: #ec612a;
    color: #fff;
    border-radius: 50%;
}

.flex_i { /*    左右样式*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.calendar_info { /*    左右自动对齐*/
    text-align: center;
    padding: 0.5rem;
}

.calendar_tr {
    font-size: 0.75rem;
}

    .calendar_tr:after { /*    底部背景大小*/
        content: "";
        display: block;
        clear: both;
        padding: 0 1%;
    }

    .calendar_tr > li { /*    列表横向排列*/
        font-size: 14px;
        float: left;
        width: 14%;
        text-align: center;
        padding: 0.5rem 0;
        position: relative;
    }

.switch_month { /*    左右按钮样式*/
    border: 0;
    background-color: transparent;
    padding: 0.5rem 1rem;
}

    .switch_month:active { /*    左右按钮按下*/
        background-color: #eee;
    }

.flex_auto { /*    左右自动对齐*/
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}