@{
    ViewData["Title"] = "Index";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    function uf_add() {
        var room = {};
        room.Id = $("#txtroomid").val();
        room.user_Name = $("#txtusername").val();
        room.date = $("#txtdate").val();
        room.start_Time = $("#txtstarttime").val();
        room.end_Time = $("#txtendtime").val();
        room.meeting_Subject = $("#txtsubject").val();
        room.meeting_Title = $("#txttitle").val();
        room.meeting_Remark = $("#txtmeetingmark").val();
        room.meeting_Attendee = $("#txtattendee").val();

        //alert(JSON.stringify(room));
        $.ajax({
            url: "/room/AddRoom",
            type: 'POST',
            data: { jsonString: JSON.stringify(room) },// {roomName: txtroomName},
            success: function (data) {
                if (data == "ok") {
                    loadRoom();
                    $("#txtroomid").val("0");
                    $("#txtusername").val("");
                    $("#txtdate").val("");
                    $("#txtstarttime").val("");
                    $("#txtendtime").val("");
                    $("#txtsubject").val("");
                    $("#txttitle").val("");
                    $("#txtmeetingmark").val("");
                    $("#txtattendee").val("");
                }
            },
            error: function () {
                alert("sth wrong");
            }
        });
    }

    function loadRoom(pageindex) {
        var tbody = document.getElementById("tbody-result");
        $.ajax({
            url: "/room/RoomList",
            type: 'Get',
            data: { pageindex: pageindex },
            success: function (data) {
                if (data.length > 0) {
                    var str = "";
                    for (var i = 0; i < data.length; i++) {
                        str += "<tr>" +
                            "<td>" + data[i].user_Name + "</td>" +
                            "<td>" + data[i].date + "</td>" +
                            "<td>" + data[i].start_Time + "</td>" +
                            "<td>" + data[i].end_Time + "</td>" +
                            "<td>" + data[i].meeting_Subject + "</td>" +
                            "<td>" + data[i].meeting_Title + "</td>" +
                            "<td>" + data[i].meeting_Remark + "</td>" +
                            "<td>" + data[i].meeting_Attendee + "</td>" +

                            "<td><a href=\"javascrip:void();\" onclick=\"modify('" + data[i].id + "');\">修改</a></td>" +
                            "<td><a href=\"javascrip:void();\" onclick=\"del('" + data[i].id + "');\">删除</a></td>" +
                            "<td><a href=\"javascrip:void();\" onclick=\"ap('" + data[i].id + "');\">时间安排</a></td>" +
                            "</tr>";
                    }
                    tbody.innerHTML = str;
                }
            },
            error: function () {
                alert("sth wrong");
            }
        });
    }

    function modify(roomid) {
        $.ajax({
            url: "/room/GetRoomById",
            type: 'Get',
            data: { roomid: roomid },
            
            success: function (data) {
                $("#txtroomid").val(data.id);
                $("#txtusername").val(data.user_Name);
                $("#txtdate").val(data.date);
                $("#txtstarttime").val(data.start_Time);
                $("#txtendtime").val(data.end_Time);
                $("#txtsubject").val(data.meeting_Subject);
                $("#txttitle").val(data.meeting_Title);
                $("#txtmeetingmark").val(data.meeting_Remark);
                $("#txtattendee").val(data.meeting_Attendee);
            },
            error: function () {
                alert("sth wrong");
            }
        });
    }

    function ap() {
        //加载t_room_ap
    }

    function del(roomid) {
        if (!confirm("确定删除?")) return;
        alert(roomid);
        $.ajax({
            url: "/room/Del",
            type: 'Get',
            data: { roomid: roomid },
            success: function (data) {
                loadRoom();
            },
            error: function () {
                alert("sth wrong");
            }
        });
    }
</script>

<h3>ROOM</h3>
<hr />
<div class="table-container">
    <table class="ui nine column table celled table-result table-bordered" id="table-result">
        <thead>
            <tr>
                <th>User_Name</th>
                <th>Date</th>
                <th>Start_Time</th>
                <th>End_Time</th>
                <th>Meeting_Subject</th>
                <th>Meeting_Title</th>
                <th>Meeting_Remark</th>
                <th>Meeting_Attendee</th>
                <th colspan="3" align="center">操作</th>
            </tr>
        </thead>
        <tbody id="tbody-result" name="tbody-result"></tbody>
    </table>
</div>
<hr />

<h2> 增加会议室</h2>
<hr />
<form id="form1" name="form1">
    <input type="hidden" value="0" name="txtroomid" id="txtroomid" />
    使用部  门：<input type="text" name="txtusername" id="txtusername" />
    <br />
    日     期：<input type="text" name="txtdate" id="txtdate" />
    <br />
    开始时  间：<input type="text" name="txtstarttime" id="txtstarttime" />
    <br />
    结束时  间：<input type="text" name="txtendtime" id="txtendtime" />
    <br />
    会议概  要：<input type="text" name="txtsubject" id="txtsubject" />
    <br />
    会议标  题：<input type="text" name="txttitle" id="txttitle" />
    <br />
    会议室名称：<input type="text" name="txtmeetingmark" id="txtmeetingmark" />
    <br />
    参加    者：<input type="text" name="txtattendee" id="txtattendee" />
    <br />
    <input type="button" name="btnadd" value="save" onclick="uf_add()" />
</form>
<script type="text/javascript">
    loadRoom();
</script>
