
@{
    ViewData["Title"] = "Index";
    //List<TRoom> listroom = ViewData["roomList"] as List<TRoom>;
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    function uf_add() {

        var txtusername = $("#txtusername").val();
        var txtroomName = $("#txtroomName").val();
        var txtroomid = $("#txtroomid").val();
        var room = {};
        room.Meeting_Title = txtroomName;
        room.User_Name = txtusername;
        room.id = txtroomid;
        //alert(JSON.stringify(room));
        $.ajax({
            url: "/room/addRoom",
            type: 'POST',
            data: { jsonString: JSON.stringify(room) },// { roomName: txtroomName},
            success: function (data) {
                if (data == "ok") {
                    loadRoom();
                    $("#txtroomid").val("0");
                    $("#txtroomName").val("");
                    $("#txtusername").val("");
                }
            },
            error: function () {
                alert("sth wrong");
            }
        });
    }

    function loadRoom(pageindex) {
        //alert('111');
        var tbody = document.getElementById("tbody-result");
        $.ajax({
            url: "/room/RoomList",
            type: 'Get',
            data: { pageindex: pageindex},
            success: function (data) {
                if (data.length>0) {
                    var str = "";
                    for (var i = 0; i < data.length;i++) {
                        str += "<tr>" +
                            "<td>" + data[i].user_Name + "</td>" +
                            "<td>" + data[i].meeting_Title + "</td>" +
                            "<td><a href=\"javascrip:void();\" onclick=\"modify('" + data[i].id + "');\">修改</a></td>" +
                            "<td><a href=\"javascrip:void();\" onclick=\"del('" + data[i].id + "');\">删除</a></td>" +
                            "<td><a href=\"javascrip:void();\" onclick=\"ap('" + data[i].id + "');\">时间安排</a></td>" +
                            "</tr>";
                    }
                    //alert(str);
                    tbody.innerHTML = str;
                    //alert(str);
                }
            },
            error: function () {
                alert("sth wrong");
            }
        });
    }
    function modify(roomid) {

        $.ajax({
            url: "/room/getRoomByID",
            type: 'Get',
            data: { roomid: roomid},
            success: function (data) {

                    $("#txtroomid").val(data.id);
                    $("#txtusername").val(data.user_Name);
                    $("#txtroomName").val(data.meeting_Title);

            },
            error: function () {
                alert("sth wrong");
            }
        });
    }
    function ap() {
        //加载t_room_ap
    }
    function del(roomid) {
        if (!confirm("确定删除?")) return;

        $.ajax({
            url: "/room/del",
            type: 'Get',
            data: { roomid: roomid },
            success: function (data) {
                loadRoom();
            },
            error: function () {
                alert("sth wrong");
            }
        });
    }

</script>
<h3>ROOM</h3>
<hr />
<div class="table-container">
    <table class="ui nine column table celled table-result table-bordered" id="table-result">
        <thead>
            <tr>
                <th>meeting_Title</th>
                <th>User_Name</th>
                <th colspan="3" align="center">操作</th>
            </tr>
        </thead>
        <tbody id="tbody-result" name="tbody-result"></tbody>
    </table>
</div>
@*@foreach (TRoom room in listroom)
    {
        @room.User_Name <br />
    }*@
<hr />

<h2> 增加会议室</h2>
<form id="form1" name="form1">
    <input type="hidden" value="0" name="txtroomid" id="txtroomid" />
    使用部  门：<input type="text" name="txtusername" id="txtusername" /><br />
    会议室名称：<input type="text" name="txtroomName" id="txtroomName" />
    <input type="button" name="btnadd" value="save" onclick="uf_add()" />
</form>
<script type="text/javascript">
    loadRoom();
</script>