body {
    font-family: "微软雅黑", arial;
}

* {
    margin: 0;
    padding: 0;
}

#d1 {
    background-image: url(../img/meeting.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%, 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    overflow: hidden;
}

#loginContent {
    margin: 100%;
    padding: 100%;
}

#loginBox {
    width: 490px;
    height: 600px;
    left: 50%;
    margin-left: -150px;
    top: 40%;
    margin-top: -700px;
    z-index: 99;
    background-color: white;
    padding: 0 40px;
}

.log_tt {
    padding: 30px 0 10px 0;
    margin-bottom: 10px;
}

.loginInfo {
    font-size: 20px;
}

#loginContent {
    color: #666666;
    font-family: "微软雅黑", arial;
}

    #loginContent dl {
        padding-bottom: 20px;
        width: 100%;
        height: 40px;
        display: block;
        list-style: none;
    }

    #loginContent dt {
        width: 70px;
        float: left;
        font: 18px;
        line-height: 40px;
    }

    #loginContent dd input {
        width: 338px;
        vertical-align: middle;
        height: 38px;
    }

.login_btn_01 {
    background: #44a0e1;
    margin: 10px 0;
}

.login_btn_02 {
    background: #37bc9b;
}

.login_btn {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

dl,
dt,
dd,
ul,
li {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

#loginContent .d1.yanzheng {
    padding-bottom: 10px;
}

#loginContent .d1 {
    width: 220px;
    float: left;
}

#loginContent dl {
    width: 100%;
    height: 50px;
}

#loginContent .yanzheng input {
    width: 220px;
}

.yanzheng .d2 {
    float: left;
    margin-left: 40px;
    margin-top: 2px;
}

img,
p,
span,
form {
    border: 0;
    margin: 0;
    padding: 0;
}

.ba {
    position: fixed;
    bottom: 20px;
    width: 100%;
    font-size: 16px;
    color: #c8c8c8;
}
